.feed{
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.425);
    margin-bottom: 40px;
}

.feed_message_top{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.feed_message_top > img{
    height: 40px;
    border-radius: 50%;
}

form{
    display: flex;
    flex: 1;
    
}

.messageSender_input{
    flex: 1;
}

.feed_message_top > form > input{
    padding: 10px 10px;
    border-radius: 999px;
    outline-width: 0;
    border: none;
    margin: 0 10px;
    background: rgb(245, 243, 243);
}

.feed_message_option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option{
    padding: 10px 15px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}

.option > span{
    margin-left: 10px;
}

.option:hover{
    background: rgb(245, 243, 243);
}



